@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Open+Sans:wght@300&display=swap');



.container {
  max-width: 900px;
}

.start-screen-state {
  position: relative;
}

.scores-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.scores-state {
  height: 70vh;
  position: relative;
}
.empty-scores-message{
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
}

th{
  position: sticky; top: -0.1rem;
  border: solid green 2px;
}
.table-container{
  height: 47vh;
  overflow: scroll;
  border: grey solid 2px;
  border-radius: 0.2rem;
}

.scores-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
}


.image-row {
  height: 35vh;
}

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  font-size: 3vw;
}

.image-div:hover {
  box-shadow: 0 5px 15px rgb(255, 255, 255);
  border: 1px solid;
}

.image-container{
  border: solid white 2px;
  overflow: hidden;
  border-radius: 0.5rem;
  font-family: 'Mulish', sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
}


.science {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/sci_nat.jpg');
  background-size: cover;
  background-position: center center;
}

.film {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/film.jpg');
  background-size: cover;
  background-position: center center;
}

.general {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/general.jpg');
  background-size: cover;
  background-position: center center;
}

.sports {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/sports.jpg');
  background-size: cover;
  background-position: center center;
}

.question {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: hidden;
}

.progress-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: -0.5px;
}

.answer-btn-group {
  position: relative;
}

.display-none {
  display: none;
}

.answer-btn:disabled {
  opacity: 1;
}

@media (max-width: 600px) {
  .image-div {
    font-size: 6vw;
  }
  .start-screen-state {
    position: static;
  }
  .scores-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
